body {
	position: relative;
	background-color: black;
}

#big-logo {
	animation-name: logo-blink;
	animation-duration: 6s;
	animation-timing-function: steps(1, end);
	animation-iteration-count: infinite;
}

#small-logo-brand {
	animation-name: logo-blink;
	animation-duration: 8s;
	animation-timing-function: steps(1, end);
	animation-iteration-count: infinite;
}

@keyframes logo-blink {
	0%   { filter: brightness(1); }

	8% { filter: brightness(1); }
	9%   { filter: brightness(0.5); }
	10%   { filter: brightness(1); }

	48% { filter: brightness(1); }
	49% { filter: brightness(0.5); }
	50% { filter: brightness(1); }

	58% { filter: brightness(1); }
	59% { filter: brightness(0.5); }
	60% { filter: brightness(1); }

	78% { filter: brightness(1); }
	79% { filter: brightness(0.5); }
	85% { filter: brightness(1); }

	87% { filter: brightness(0.5); }
	88% { filter: brightness(1); }
}

#top {
	font-family: 'Rubik', sans-serif;
	color: white;
}

.display-4 {
	font-weight: 700;
}

#history {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#history::-webkit-scrollbar {
	width: 0px;
}

#history #film-strip {
	height: 25rem;
}

.vl {
	float: left;
	padding: 0.5rem;
	border-radius: 4px;
}

#history-description .vl {
	background-color: #e8e496;
}

#history-description p {
	font-weight: 500;
}

.spacer {
	height: 16rem;
}

#film-strip-tracker {
	float: left;
	height: 100%;
	padding-top: 6rem;
}

/* Small devices (phones) */
@media (min-width: 576px) {  }

/* Medium devices (tablets) */
@media (min-width: 768px) {
	#history #film-strip {
		height: 32rem;
	}
}

/* Large devices (desktops) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {  }