body {
    font-family: 'Titillium Web', sans-serif;
}

nav {
    background-color: #007373;
}

.navbar-nav a {
    font-weight: 700;
    color: white;
}

.navbar-brand {
    font-weight: 700;
}

#nav-logo {
    height: 3rem;
}

@media (min-width: 768px) {
    #nav-logo {
        height: 5rem;
    }
}

.search-box {
    color: #005C5C;
    outline: none;
}

#main-info-bar p {
    color: white;
}